@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  position: absolute;
  height: 450px;
  width: 500px;
  left: 30%;
  top: 100px;
  background-color: rgb(214, 212, 212);
}
.book {
  position: absolute;
  height: 250px;
  width: 200px;
  background: linear-gradient(45deg, #1e1e1e 0%, #4f4f4f 100%);
  left: 150px;
  top: 100px;
  border-radius: 3px;
  box-shadow: 0px 4px 6px 0px rgb(148, 147, 147);
  }
  .book:before {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    top: 0;
    left: 0;
    bottom: 0;
    border-radius: 2px 0 0 2px;
   
    background: linear-gradient(to right,  #ffffff00 0%,rgba(255,255,255,0.1) 20%,rgba(255,255,255,0.1) 45%,rgba(0,0,0,0.15) 49%,rgba(0,0,0,0.15) 84%,rgba(0,0,0,0) 100%);
}
.title {
  position: absolute;
  width: 150px;
  color: white;
  font-size: 35px;

  left: 30px;
  top: 40px;
  line-height: 35px;
  font-weight: 800;
}
span {
  font-size: 20px;
  font-weight: 400;
}
.strap {
  position: absolute;
  height: 252px;
  width: 12px;
  background: repeating-linear-gradient(
    90deg,
    rgb(185, 1, 1) 0 1px,
    rgb(150, 2, 2) 1px 2px
  );
  border-radius: 2px;
  top: -1px;
  left: 170px;
}
