@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Poppins', sans-serif;
}


body {
  background-image: url("./background.jpg");
  background-size: cover;
  padding: 5vh 10vw 0 10vw ;
 
}
.container {
    width: 80vw;
    height: 90vh;
    background: linear-gradient(55deg,rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.2));
    align-self: center;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: 15% auto;
    grid-template-areas:"sidebar header header"
    "sidebar main main " ;
}
header{
    grid-area: header;
    
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    border-bottom: solid 1px rgb(19,6,52);

}
header>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
}
.search-input>input{
    background-color: transparent;
    border-radius: 5px;
    border: solid 1px rgba(255, 255, 255, 0.8) ;
    height: 1.8rem;
    width: 16rem;
    outline: none;
padding-left: 20px;
position: relative;
}
.search-input>input::placeholder{
    color: white;
}
.search-input>i{
    position: absolute;
    left: 10px;
}
 button{
    background-color: transparent;
    border: none;
    outline: none;
}
button>i{
    font-size: 1.2rem;
}
.sidebar{
    grid-area: sidebar;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: solid 1px rgb(19,6,52);
    
}

nav>ul{
    list-style: none;
    
   
}
ul>li{
    margin: 1rem 0 1rem 0;
    font-weight: bolder;
    font-size: 1.1rem;
}
a{
    text-decoration: none;
}
a:hover,button:hover>i{
    color:rgb(19,6,52)
}

a:hover>i{
    color:rgb(19,6,52)
}
a>i{
    margin-right:0.5rem ;
}
main{
grid-area: main;
padding: 1rem;
display: grid;
grid-template-columns: 60% 40%;
  grid-template-rows: 50% 50%;
grid-template-areas:"folders tasks"
"projects tasks" ;
}
.tasks{
    grid-area: tasks;
    padding: 0.3rem;
   
}
.projects{
    grid-area: projects;
    padding: 0.3rem;
}
.projects>div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 0.5rem;
    margin-top: 0.4rem;

    }
.project{
    display: flex;
    padding: 1rem;
    background-color:rgba(201, 197, 197, 0.486);
    border-radius: 3px;
}
.project-avatar{
    
}
.project-avatar>h1{
    background-color: rgb(255, 202, 110);
    text-align: center;
    border-radius: 50%;
    margin-right: 0.5rem;
    width: 35px;
    
}
.project-avatar >h1
progress{
    display: block;
}


.folders{
    grid-area: folders;
    padding: 0.3rem 0.3rem 0 0.3rem;
    padding-bottom:0 ;

}
.folders>div{
 margin-top: 0.4rem;
display: grid;
grid-template-columns: repeat(3,1fr);
grid-template-rows: repeat(2,1fr);
gap: 0.5rem;

}
.folder{
    /* background-color:rgba(201, 197, 197, 0.486); */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.6rem;
    border: solid 1px rgba(255, 255, 255, 0.8) ;
    padding: 0.2rem;
    border-radius: 2px;
    
    
}
.folder-icon>img{
  max-width:100% ! important;
  width: 40px;
}
@media only screen and (min-width: 600px) {
.sidebar{
    
}


}